{% extends('base.html') %}
{% block content %}

                    <!--WHO WE ARE-->
                    <div class="container-fluid">
                    <div class="uni-about-who-are-you">
                            <div class="uni-services-title">
                                <h1 class="fw-bold text-center mt-5 mb-5">WHO WE ARE</h1>
                                <div class="uni-underline"></div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-6">
                                    <div class="uni-about-who-are-you-right">
                                        <p>
                                            Pellentesque habitant morbi trPellentesque habitant morbi tristique
                                            senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor
                                            quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                                            sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat
                                            eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
                                        </p>
                                        <h3 class="text-center mt-5 mb-3">Our Missions</h3>
                                        <ul class="dotted">
                                            <li class="dotted">Lorem ipsum dolor sit amet, consectetuer</li>
                                            <li>Aliquam tincidunt mauris eu risus</li>
                                            <li>Vestibulum auctor dapibus neque</li>
                                            <li>Morbi in sem quis dui placerat ornare</li>
                                            <li>Donec eu libero sit amet quam egestas semper</li>
                                            <li>Aliquam tincidunt mauris eu risus</li>
                                            <li>Vestibulum auctor dapibus neque</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="uni-about-who-are-you-left">
                                        <img src="{{url_for('static', filename='images/about/img.jpg')}}" alt="" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--ICONS BOX 3-->
                        <div class="container-fluid mt-5">
                            <h1 class="fw-bold text-center mt-5 mb-5">Key Features</h1>
                            <div class="uni-shortcode-icons-box-3">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-md-4">
                                    <div class="card shadow" style="height: 100%;" >
                                    <div class="card service text-white">
                                        <div class="card-body">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-user-md fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>Qualified Doctors</h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Pellentesque habitant morbi tristique senectus et netus et malesuada
                                                fame ac turpis egestas. Vestibulum tortor quam.
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card shadow" style="height: 100%;" >
                                        <div class="card service text-white">
                                        <div class="card-body">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                24 hours service
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                            </p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card shadow" style="height: 100%;" >
                                        <div class="card service text-white">
                                        <div class="card-body">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-hospital-o fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                modern equipment
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                            </p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card shadow" style="height: 100%;" >
                                        <div class="card service text-white">
                                        <div class="card-body">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                conscientious Doctors
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                            </p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card shadow" style="height: 100%;" >
                                        <div class="card service text-white">
                                        <div class="card-body">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-ambulance fa-2x" aria-hidden="true"></i>
                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                call in 10 minutes
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                            </p>
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card shadow" style="height: 100%;" >
                                        <div class="card service text-white">
                                        <div class="card-body">
                                    <div class="uni-shortcode-icons-box-3-default">
                                        <div class="item-icons">
                                            <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>

                                        </div>
                                        <div class="item-caption">
                                            <h4>
                                                enthusiastic support
                                            </h4>
                                            <div class="uni-line"></div>
                                            <p>
                                                Pellentesque habitant morbi tristique
                                                senectus et netus et malesuada fame ac turpis egestas. Vestibulum tortor quam.
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    </div>
{% endblock %}