{% extends "admin_dashboard.html" %}
{% block admin_dashboard_content %}
<div class="main-bar">
    <h5 class="text-center bg-light my-dash pt-2"> All Patients</h5>
    <div class="card my-profile">
        <div class="card-body text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <span class="pt-2 pe-2">show entries</span>
                            <form  class="d-flex" method="GET" action="{{ url_for('admin.admin_view_patients') }}">
                                <select id="entries" name="entries" class="form-select form-select-sm me-2 rounded" aria-label=".form-select-sm example">
                                    <option value="3">3</option>
                                    <option value="6">6</option>
                                    <option value="9">9</option>
                                    <option value="12">12</option>
                                    <option value="15">15</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </form> 
                        </div>                          
                        
                        <form class="d-flex" method="GET", action="{{ url_for('admin.admin_view_patients') }}">
                            <input style="height: 40px;" id="search_query" name="search_query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button style="height: 40px;"  class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover table-bordered" id="main-table">
                        <thead class="text-start">
                            <tr>
                                <td class="bg-light" id="main-link">ID</td>
                                <td class="bg-light" id="main-link">Name</td>
                                <td class="bg-light" id="main-link">Phone Number</td>
                                <td class="bg-light" id="main-link">Email</td>
                                <td class="bg-light" id="main-link">Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pat in patients %}
                            <tr >
                                <td id="main-link">{{ loop.index }}</td> <!-- Use loop.index to auto-increment ID -->
                                <td id="main-link">{{ pat.first_name }} {{ pat.last_name }}</td>
                                <td id="main-link">{{ pat.phone_number }}</td>
                                <td id="main-link">{{ pat.email }}</td>
                                <td >
                                    <div class="dropdown">
                                        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-list"></i>
                                        </a>
                                      
                                                <ul class="dropdown-menu list-unstyled doc_link " aria-labelledby="dropdownMenuLink">
                                                    
                                                    <li >
                                                        <a class=" dropdown-item  text-decoration-none d-flex" href="{{url_for('admin.admin_view_patients_details', id=pat.id)}}">
                                                            <i class="fa-solid fa-eye text-primary me-2"></i>
                                                           <p class="fw-bold">Full details</p>
                                                        </a>
                                                    </li>
                                            
                                                    <li >
                                                        <a class=" dropdown-item  text-decoration-none d-flex" href="{{url_for('admin.admin_view_patients_appointments', id=pat.id)}}">
                                                            <i class="fa-solid fa-pen-to-square text-success me-2"></i>
                                                            <p class="fw-bold">View Appointment</p>
                                                        </a>
                                                       
                                                    </li>
                                                </ul>
                                    </div>
                                  
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                    <div class="d-flex justify-content-between">
                        {% if per_page <= total %}
                        <p>showing {{per_page}} of {{total}} entries</p>
                        {% else %}
                        <p>showing {{total}} of {{total}} entries</p>
                        {% endif %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                              {% for page_num in patients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                                {% if page_num %}
                                  {% if patients.page == page_num %}
                                  <a class="page-link bg-primary text-white me-1 ms-1" href="{{ url_for('admin.admin_view_patients', entries=per_page, page=page_num, search_query=search_query) }}">{{ page_num }}</a>
                                  {% else %}
                                  <a class="page-link me-1 ms-1" href="{{ url_for('admin.admin_view_patients', entries=per_page, page=page_num, search_query=search_query) }}">{{ page_num }}</a>
                                  {% endif %}
                                {% else %}
                                 <p class="me-1 ms-1">...</p>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </nav>                          
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
