<div class="modal fade" id="staticBackdrop2{{ doc.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light" style="height: 200px;">
                Are you sure you want to delete doctor {{ doc.first_name }}
                <div class="modal-footer">
                    <div class=" text-center">
                        <button type="button" class="btn btn-outline-info bg-primary mt-3 text-white" data-bs-dismiss="modal">Cancel</button>
                        <a type="button" href="{{ url_for('admin.delete_doc', id=doc.id)}}" class="btn btn-danger mt-3 text-white">Yes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>