{% extends "doc_dashboard.html" %}
{% block doc_dashboard_content %}
<div class="main-bar">
    <div class="d-flex justify-content-between bg-light my-dash pt-2 pb-2">
        <h5 class="text-center ms-2 pt-1 pb-1">Appointment Full Details</h5>
        <a href="{{ prev_page }}" class="btn btn-danger me-2 pt-0 ">Back</a>
    </div>
    
    <div class="container-fluid">
        <div class="row mt-5 mb-5">
            <div class="col-md-6 bg-light">
                <div class="card shadow" style="height: 100%;">
                    <div class="card bg-light" style="height: 100%;">
                        <div class="card-body fw-bold" style="color: #413e3e;">
                            <legend class="text-center text-primary mb-4" >Appointment Detail </legend>
                            <p>Appointment No: {{appointment_detail.appointment_no}}</p>
                            <p>Appointment Date: {{appointment_detail.appointment_date}}</p>
                            {% if appointment_detail.appointment_time[0:2] | int < 12 %}
                            <p>Appointment time: {{appointment_detail.appointment_time}}AM</p>
                            {% else %}
                            <p>Appointment time: {{appointment_detail.appointment_time}}PM</p>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bg-light">
                <div class="card shadow" style="height: 100%;" >
                    <div class="card bg-light" style="height: 100%;">
                        <div class="card-body fw-bold" style="color: #413e3e;">
                            <legend class="text-center text-primary mb-4" >Patient Details</legend>
                            <p>Patient: {{appointment_detail.patient.first_name}} {{appointment_detail.patient.last_name}}</p>
                            <p>Email: {{appointment_detail.patient.email}}</p>
                            <p>Phone No: {{appointment_detail.patient.phone_no}}</p>
                            <p>Date Of Birth: {{appointment_detail.patient.date_of_birth}}</p>
                            <p>Age: {{appointment_detail.patient.age}}</p>
                            <p>Contact Address: {{appointment_detail.patient.contact_address}}</p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-12 bg-light mt-3">
                    <div class="card shadow" style="height: 100%;" >
                        <div class="card bg-light" style="height: 100%;">
                            <div class="card-body fw-bold" style="color: #413e3e;">
                                <legend class="text-center text-primary mb-4" >Update Appointment</legend>
                                <form method="POST" action="">
                                    {{ form.hidden_tag() }}
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="{{ form.appointment_status.id }}" class="form-label fw-bold mt-0">
                                                    {{ form.appointment_status.label.text  }}
                                                </label>
                                                {% if form.appointment_status.errors %}
                                                    {{ form.appointment_status(class="form-select is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.appointment_status.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.appointment_status(class="form-select", style="height: 35px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <p style="height: 35px; width: 125px;" class=" mt-2 rounded-pill border-success bg-success text-white ps-2 pt-1">{{appointment_detail.appointment_status}}</p>
                                        </div>
                                        <div class="col-md-4 mt-4">
                                            <label for="ps">Consultation_fee</label>
                                            <input type="text" style="height: 35px;" disabled id="ps" value="{{appointment_detail.doctor.consultation_fee}}">
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <div class="form-group">
                                                <label for="{{ form.payment_status.id }}" class="form-label fw-bold ">
                                                    {{ form.payment_status.label.text  }}
                                                </label>
                                                {% if form.payment_status.errors %}
                                                    {{ form.payment_status(class="form-select is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.payment_status.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.payment_status(class="form-select", style="height: 35px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                        
                                        <div class="col-md-4 mt-5">
                            
                                            <p style="height: 35px; width: 80px;" class=" border rounded-pill border-danger bg-danger text-white ps-2 pt-1">{{appointment_detail.payment_status}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form.appointment_comment.label(class="form-control-label form-control-sm mt-2 fw-bold") }}
                                            {% if form.appointment_comment.errors %}
                                                {{ form.appointment_comment(class="form-control form-control-sm is-invalid", rows=5) }}
                                                <div class="invalid-feedback">
                                                {% for error in form.appointment_comment.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                                </div>
                                            {% else %}
                                            {{ form.appointment_comment(class="form-control form-control-sm", rows=5,  style="height: 30px;") }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        {{ form.submit(class="btn btn-outline-info bg-primary mt-3 text-white") }}
                                    </div>
                
                                </form>
                            </div>
                        </div>
                    </div>
            
        </div>
    </div>
</div>
</div>
{% endblock %}