{% extends "doc_dashboard.html" %}
{% block doc_dashboard_content %}

<div class="main-bar">
    <div class="d-flex bg-light my-dash pt-2" style="height: auto;">
        <h5 class="me-auto ms-auto"> Add Doctor</h5>
    </div>
    <div class="card my-profile">
        <div class="card-body text-center">
            <div class="row "> <!-- Center the content horizontally -->
                <div class="col-12"> <!-- Make it 50% width on medium screens and above -->
                    <div class="content-section d-flex justify-content-end">
                        <div class="media">
                          <img class="rounded-circle account-img" src="{{ doc_image }}">
                    
                        </div>
                    </div>

                    <form class="text-start needs-validation" method="POST" enctype="multipart/form-data" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col-md-12" >
                                    <fieldset class="form-group " >
                                        <div class="row">
                                            <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="{{ form.department.id }}" class="form-label mt-2 fw-bold">
                                                {{ form.department.label.text }}
                                            </label>
                                            {% if form.department.errors %}
                                                {{ form.department(class="form-select is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.department.errors %}
                                                        <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ form.department(class="form-select ", disabled=True, readonly=True, style="height: 37px;") }}
                                            {% endif %}
                                        </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                    {{ form.picture.label(class="form-control-label form-control-sm mt-2 fs-6 fw-bold") }}
                                                    {{ form.picture(class="form-control-file") }}
                                                    {% if form.picture.errors %}
                                                        {% for error in form.picture.errors %}
                                                            <span class="text-danger">{{ error }}</span></br>
                                                        {% endfor %}
                                                    {% endif %}
                                            </div>
                                        </div>
                                       
                                    </div>
                                        <div class="row">
                                           
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                
                                                {{ form.first_name.label(class="form-control-label form-control-sm mt-2 fw-bold") }}
                                                {% if form.first_name.errors %}
                                                    {{ form.first_name(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.first_name.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.first_name(class="form-control form-control-sm ", disabled=True, readonly=True, style="height: 30px;") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                
                                                {{ form.last_name.label(class="form-control-label form-control-sm mt-2 fw-bold") }}
                                                {% if form.first_name.errors %}
                                                    {{ form.last_name(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.last_name.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.last_name(class="form-control form-control-sm", disabled=True, readonly=True, style="height: 30px;") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                
                                                {{ form.designation.label(class="form-control-label form-control-sm mt-2 fw-bold") }}
                                                {% if form.designation.errors %}
                                                    {{ form.designation(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.designation.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.designation(class="form-control form-control-sm", disabled=True, readonly=True,style="height: 30px;") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                
                                                {{ form.email.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.email.errors %}
                                                    {{ form.email(class="form-control form-control-sm is-invalid", autocapitalize="none") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.email.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.email(class="form-control form-control-sm",  disabled=True, readonly=True, style="height: 35px;") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                               
                                                {{ form.phone_number.label(class="form-control-label form-control-sm mt-2 fw-bold") }}
                                                {% if form.phone_number.errors %}
                                                    {{ form.phone_number(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.phone_number.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.phone_number(class=" form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="{{ form.gender.id }}" class="form-label fw-bold mt-2">
                                                   
                                                    {{ form.gender.label.text  }}
                                                </label>
                                                {% if form.gender.errors %}
                                                    {{ form.gender(class="form-select is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.gender.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.gender(class="form-select", style="height: 35px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                
                                                {{ form.age.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.age.errors %}
                                                    {{ form.age(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.age.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.age(class=" form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                
                                                {{ form.date_of_birth.label(class="form-control-label form-control-sm mt-2 fw-bold") }}
                                                {% if form.date_of_birth.errors %}
                                                    {{ form.date_of_birth(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.date_of_birth.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.date_of_birth(class=" form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                
                                                {{ form.contact_address.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.contact_address.errors %}
                                                    {{ form.contact_address(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.contact_address.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.contact_address(class="form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                
                                                {{ form.consultation_fee.label(class="form-control-label form-control-sm mt-2 fw-bold") }}
                                                {% if form.consultation_fee.errors %}
                                                    {{ form.consultation_fee(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.consultation_fee.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.consultation_fee(class=" form-control form-control-sm",  disabled=True, readonly=True, style="height: 30px;") }}
                                                {% endif %}
                                            </div>
                
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                
                                               
                                                {{ form.bio.label(class="form-control-label mt-2 fs-5 fw-bold") }}
                                                <small class="text-muted">Not more than 1000 words</small>
                                                {% if form.bio.errors %}
                                                    {{ form.bio(class="form-control form-control-sm is-invalid", rows=1) }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.bio.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.bio(class="form-control form-control-sm", rows=1) }}
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.facebook.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.facebook.errors %}
                                                    {{ form.facebook(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.facebook.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.facebook(class="form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.twitter.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.twitter.errors %}
                                                    {{ form.contact_address(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.twitter.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.twitter(class="form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.instagram.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.instagram.errors %}
                                                    {{ form.contact_address(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.instagram.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.instagram(class="form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.youtube.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.youtube.errors %}
                                                    {{ form.youtube(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.youtube.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.youtube(class="form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.linkedin.label(class="form-control-label mt-2 mb-2 fw-bold") }}
                                                {% if form.linkedin.errors %}
                                                    {{ form.linkedin(class="form-control form-control-sm is-invalid") }}
                                                    <div class="invalid-feedback">
                                                        {% for error in form.linkedin.errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    {{ form.linkedin(class="form-control form-control-sm", style="height: 30px;") }}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check mt-5">
                                                {{ form.is_active(class="form-check-input", disabled=True, readonly=True) }}
                                                {{ form.is_active.label(class="form-check-label fw-bold") }}
                                            </div>
                                        </div>
                                    </div>
                                    

                                </fieldset>
                                <div class="form-group text-center">
                                    {{ form.submit(class="btn btn-outline-info bg-primary mt-3 text-white") }}
                                </div>
                            </div>
                        </form>
                      </div>
                </div>
                </div>
        
            </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}
