{% extends "base.html" %}
{% block content %}
<div class="container-fluid p-dash">
    <div class="row">
        <div class="col-md-3">
            <h5 class="mt-5 mb-3">Hello Doctor&nbsp;<span class="text-primary">{{ current_user.first_name }}</span></h5>
            <div class="side-bar">
                <table class="table table-hover" id="p-table">
                    <thead>
                        <tr>
                            <td class="bg-light fw-bold text-center quick" style="height: 40px;">Quick Links</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="link">
                                <a style="height: 30px;" href="{{url_for('doctor.docDashboard')}}" id="link" class="d-flex align-items-center text-decoration-none">
                                    <i class="fa-solid fa-table-columns text-primary me-4 fs-5"></i>
                                    Dashboard
                                </a>
                            </td>
                        </tr>
                        <tr>
                            
                            <td class="accordion">
                                <div id="accordionapt">
                                    <button class="accordion-button collapsed link" style="height: 30px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseapt" aria-expanded="false" aria-controls="collapseapt">
                                        <i class="fa-solid fa-calendar-days text-primary me-4 fs-5"></i>
                                            <p class="pt-3">Appointments</p>
                                    </button>
                                    <div id="collapseapt" class="accordion-collapse collapse" aria-labelledby="headingapt" data-bs-parent="#accordionapt">
                                        <div class="accordion-body">
                                            <ul class="text-start">
                                                <li style="height: 30px;"><a class="dept-link text-decoration-none" href="{{url_for('doctor.all_appointments')}}">All Appointments</a></li>
                                                <li style="height: 30px;"><a class="dept-link text-decoration-none" href="{{url_for('doctor.open_appointments')}}">Open Appointments</a></li>
                                                <li style="height: 30px;"><a class="dept-link text-decoration-none" href="{{url_for('doctor.closed_appointments')}}">Closed Appointments</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <tr>
                                <td class="accordion">
                                    <div id="accordionDoctors">
                                        <button class="accordion-button collapsed link" style="height: 30px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDoctors" aria-expanded="false" aria-controls="collapseDoctors">
                                            <i class="fa-solid fa-user text-primary me-4 fs-5"></i>
                                                <p class="pt-3">Profile</p>
                                        </button>
                                        <div id="collapseDoctors" class="accordion-collapse collapse" aria-labelledby="headingDoctors" data-bs-parent="#accordionDoctors">
                                            <div class="accordion-body">
                                                <ul class="text-start">
                                                    <li style="height: 30px;"><a class="dept-link text-decoration-none" href="{{url_for('doctor.addDetails')}}">Add Details</a></li>
                                                    <li style="height: 30px;"><a class="dept-link text-decoration-none" href="{{url_for('doctor.view_details')}}">Update Details</a></li>
                                                    <li style="height: 30px;"><a class="dept-link text-decoration-none" href="{{url_for('doctor.update_personal_info')}}">Update Personal Info</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <tr>
                            <td id="link">
                                <a style="height: 30px;" href="{{url_for('doctor.all_patients')}}" id="link" class="d-flex align-items-center text-decoration-none">
                                    
                                    <i class="fa-solid fa-hospital-user text-primary me-4 fs-5"></i>
                                    Patients
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td id="link">
                                <a style="height: 30px;" href="{{ url_for('patient.logout') }}" id="link" class="d-flex align-items-center text-decoration-none">
                                <i class="fa-solid fa-right-from-bracket text-danger me-4 fs-5 text-start"></i>
                                Log Out</td>
                                </a>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-8">
            {% block doc_dashboard_content %}
            {% endblock %}
           
        </div>

    </div>

</div>
{% endblock %}