{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center"> <!-- Center the content horizontally -->
        <div class="col-md-6"> <!-- Make it 50% width on medium screens and above -->
            <div class="card w-70 mt-5">
                <div class="card shadow">
                <div class="card-body bg-light">
                    <h3 class="depart text-center">Reset Password</h3>
                  <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group ">
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label mt-2") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-sm is-invalid", autocapitalize="none") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-sm", autocapitalize="none") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group text-center">
                        {{ form.submit(class="btn btn-outline-info bg-primary mt-3 text-white") }}
                    </div>
                    
                </form>
            </div>  
                </div>
                </div>
              </div>
        </div>
        </div>

    </div>

</div>
    
{% endblock content %}